[buildout]
develop = .
parts = test importchecker

[test]
recipe = zc.recipe.testrunner
eggs = lovely.recipe[zope]
defaults = ['--auto-color']

[importchecker]
recipe = lovely.recipe:importchecker
path = src/lovely